CompileFlags:
  Add:
    - -std=c++17
    - -Wall
    - -Wextra
    # do not complain about features incompatible with sm_35
    - --cuda-gpu-arch=sm_52
    - -fopenmp
  Remove:
    - --expt-relaxed-constexpr
    - --default-stream
    - --generate-code=*
    - --options-file
    - -arch=*
    - -forward-unknown-to-host-compiler
    - -Xptxas=*
    - -Xcompiler=*
  CompilationDatabase: "build"

InlayHints:
  # Disables automatic insertion of missing #include statements on completion
  autoDeclaration: false

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - readability-*
      - performance-*
      - bugprone-*
    Remove:
      - bugprone-macro-parentheses
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build
  
